.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 159px;
  margin: 92px 143px 60px 100px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 43px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }
}