 .u-section-1 {
  background-image: url("images/racial-attention-deficit-sociology-columbia.jpg");
  background-position: 50% 50%;
  min-height: 350px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 1669px);
  min-height: 61px;
  height: auto;
  margin: 0 auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 3px auto 0 8px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 289px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-bottom: -24px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 221px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 166px;
  }

  .u-section-1 .u-group-1 {
    min-height: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 325px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 3px;
    margin-left: 13px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 105px;
  }

  .u-section-1 .u-group-1 {
    min-height: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 352px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1044px;
  margin: 0 auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 906px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 74px auto 0 calc(((100% - 1140px) / 2) + 358px);
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 958px;
  margin: 91px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 614px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --radius: 34px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 82px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 48px auto 0 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 1px 0 8px;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --radius: 34px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 82px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 48px auto 0 10px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 1px 0 8px;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 82px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  margin: 48px auto 0 10px;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 1px 0 8px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 837px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: 83px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 551px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 21px;
    padding-right: 21px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 932px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 76px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 89px;
    margin-bottom: 59px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 655px;
    grid-template-columns: calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px);
    grid-gap: 14px 14px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1373px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1201px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 19px 0;
  }

  .u-section-3 .u-icon-1 {
    padding: 9px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 19px 0;
  }

  .u-section-3 .u-icon-2 {
    padding: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 19px 0;
  }

  .u-section-3 .u-icon-3 {
    padding: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1351px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-icon-1 {
    height: 77px;
    width: 77px;
    margin-top: 10px;
    margin-right: 126px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: 266px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -8px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-icon-2 {
    height: 77px;
    width: 77px;
    margin-top: 10px;
    margin-right: 126px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
    width: 266px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -8px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-icon-3 {
    height: 77px;
    width: 77px;
    margin-top: 10px;
    margin-right: 126px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    width: 266px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: -8px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 34px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 34px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 34px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 34px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 34px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 34px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}