 .u-section-1 {
  background-image: url("images/enzi-blades-RED.png");
  background-position: 50% 50%;
  min-height: 417px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 1669px);
  min-height: 61px;
  height: auto;
  margin: 0 auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 18px;
  padding-left: 18px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 548px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 420px;
  }

  .u-section-1 .u-group-1 {
    min-height: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -7px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 315px;
  }

  .u-section-1 .u-group-1 {
    min-height: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 1px;
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 198px;
  }

  .u-section-1 .u-group-1 {
    min-height: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 7px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 268px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1044px;
  margin: 3px 46px 3px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1183px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 894px;
  margin: 76px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 832px;
  grid-gap: 20px 20px;
  grid-auto-columns: 100%;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --radius: 34px;
  box-shadow: 0px 23px 31px 0px rgba(128,128,128,1);
  background-image: none;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 0 46px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 130px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 54px 46px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 48px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 716px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 111px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-right: 7px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-3 .u-list-1 {
    width: 721px;
    margin-top: 33px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-repeater-1 {
    grid-gap: 0px 0px;
    min-height: 690px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 78px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 78px;
    margin-right: 0;
    margin-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-3 .u-list-1 {
    width: 564px;
    margin-top: 38px;
    margin-right: auto;
    margin-left: -24px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 891px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 87px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-list-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 942px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 17px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 56px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: 27px;
    margin-right: 27px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-6e5a-19:not([data-block-selected]):not([data-cell-selected]),
.u-block-6e5a-19:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6e5a-19:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6e5a-19:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-6e5a-19:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-6e5a-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-6e5a-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6e5a-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6e5a-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-6e5a-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}